* {
  outline: 1px solid green;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Nether";
  src: url(../fonts/nether/nether.ttf) format("truetype");
}

html {
  font-size: 14px;
}

body {
  font-family: "roboto", sans-serif;
  color: #636363;
  background: #ffffff;
  padding: 19px 15px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #636363;
}

a:hover {
  text-decoration: none;
  color: #636363;
}

a:focus, button:focus {
  border: 0;
  outline: 0;
}

li a {
  text-transform: uppercase;
  font-weight: 300;
}

.hidden {
  overflow: hidden;
  display: inline-block;
}

.button {
  width: 289px;
  height: 40px;
  border-radius: 100px;
  background: #4771e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

header {
  margin-bottom: 30px;
}

header .logo {
  margin-right: 15px;
}

header .navbar {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: #ffffff;
  padding-top: 135px;
  z-index: 50;
}

header .navbar ul li {
  margin-top: 37px;
}

header .navbar .social-links {
  margin-top: 107px;
  margin-bottom: 35px;
}

header .navbar .social-links a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/css_sprites.png);
}

header .navbar .social-links .twitter {
  background-position: 30px -46px;
}

header .navbar .social-links .facebook {
  background-position: -10px 28px;
}

header .navbar .social-links .instagram {
  background-position: -60px -51px;
}

header .show + a + .nav-right-block button {
  background-position: -6px -52px;
}

header .nav-right-block {
  margin-top: 20px;
}

header .nav-right-block button {
  position: relative;
  z-index: 100;
  display: inline-block;
  width: 31px;
  height: 23px;
  background-image: url(../img/css_sprites.png);
  background-position: -10px -10px;
  margin-left: 35px;
  padding: 0;
}

header .nav-right-block div {
  display: inline-block;
  width: 20px;
  height: 23px;
  background-image: url(../img/css_sprites.png);
}

header .nav-right-block .surch {
  background-position: -45px 30px;
}

header .nav-right-block .like {
  background-position: 30px -7px;
  margin: 0 19px;
}

header .nav-right-block .basket {
  background-position: -60px -10px;
}

header .navbar-top {
  margin-top: 25px;
}

header .navbar-top li {
  display: inline-block;
  margin: 0 15px;
}

.wrapper .slogan {
  font-family: "Nether";
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: end;
}

.wrapper .mobile {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper .mobile .first-carousel {
  position: relative;
}

.wrapper .mobile .first-carousel div[class|="baner"] {
  margin-top: 44px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper .mobile .first-carousel div[class|="baner"] .hidden {
  display: block;
  height: 233px;
  margin-bottom: 19px;
}

.wrapper .mobile .first-carousel div[class|="baner"] .hidden p {
  position: absolute;
  left: 20px;
  top: 40px;
  font-size: 20px;
}

.wrapper .mobile .first-carousel div[class|="baner"] .button {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.wrapper .mobile .first-carousel div[class|="baner"] .button p {
  padding-top: 14px;
  font-size: 16px;
  color: #ffffff;
}

.baner-first::before, .tablet-baner-one::before {
  content: "";
  background-image: url(../img/new.png);
  background-size: contain;
  position: absolute;
  left: 10px;
  top: -35px;
  width: 69px;
  height: 69px;
}

.baner-second::before, .tablet-baner-two::before {
  content: "";
  background-image: url(../img/sale.png);
  background-size: contain;
  position: absolute;
  right: 10px;
  top: -35px;
  width: 64px;
  height: 64px;
}

.wrapper .tablet {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.wrapper .tablet .tablet-baner-one {
  position: relative;
}

.wrapper .tablet .tablet-baner-one p {
  position: absolute;
  left: 10px;
  top: 30px;
}

.wrapper .tablet .tablet-baner-two {
  position: relative;
}

.wrapper .tablet .tablet-baner-two p {
  position: absolute;
  right: 32px;
  bottom: 123px;
}

@media (min-width: 767.98px) {
  header {
    margin-bottom: 40px;
  }
  .wrapper .slogan p {
    margin: 46px 0;
  }
  .wrapper .tablet div[class|="tablet-baner"]::before {
    top: -25px;
  }
  .wrapper .tablet .tablet-baner-one::before {
    width: 50px;
    height: 50px;
  }
  .wrapper .tablet .tablet-baner-two::before {
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 991.98px) {
  header {
    margin-bottom: 45px;
  }
  .wrapper .slogan p {
    font-size: 55px;
  }
  .wrapper .tablet {
    font-size: 24px;
  }
  .wrapper .tablet div[class|="tablet-baner"]::before {
    top: -25px;
  }
  .wrapper .tablet .tablet-baner-one p {
    left: 10px;
    top: 40px;
  }
  .wrapper .tablet .tablet-baner-two p {
    right: 45px;
    bottom: 165px;
  }
  .wrapper .tablet .tablet-baner-one::before {
    width: 69px;
    height: 69px;
  }
  .wrapper .tablet .tablet-baner-two::before {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 1199.98px) {
  .wrapper .tablet .tablet-baner-one p {
    left: 10px;
    top: 45px;
  }
  .wrapper .tablet .tablet-baner-two p {
    right: 55px;
    bottom: 200px;
  }
}
