* {
  outline: 1px solid green;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Nether";
  src: url(../fonts/nether/nether.ttf) format("truetype");
}

html {
  font-size: 14px;
}

body {
  font-family: "roboto", sans-serif;
  color: #636363;
  background: #ffffff;
  padding: 19px 15px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #636363;
}

a:hover {
  text-decoration: none;
  color: #636363;
}

a:focus, button:focus {
  border: 0;
  outline: 0;
}

li a {
  text-transform: uppercase;
  font-weight: 300;
}

.hidden {
  overflow: hidden;
  display: inline-block;
}

.button {
  width: 289px;
  height: 40px;
  border-radius: 100px;
  background: #4771e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 400;
}

.button p {
  color: #ffffff;
}

h2, h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #adafb3;
  font-weight: bold;
  text-align: left;
}

.slogan {
  font-family: "Nether";
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: end;
  color: #090b0c;
  font-weight: 500;
}

.social a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/css_sprites.png);
  margin: 0 6px;
}

.social a:nth-child(1) {
  background-position: 30px -45px;
}

.social a:nth-child(2) {
  background-position: -9px 29px;
}

.social a:nth-child(3) {
  background-position: -59px 71px;
}

header {
  margin-bottom: 30px;
}

header .logo {
  margin-right: 15px;
}

header .navbar {
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: #ffffff;
  padding-top: 135px;
  z-index: 50;
}

header .navbar ul li {
  margin-top: 37px;
}

header .navbar .social-links {
  margin-top: 107px;
  margin-bottom: 35px;
}

header .navbar .social-links a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/css_sprites.png);
}

header .navbar .social-links .twitter {
  background-position: 30px -46px;
}

header .navbar .social-links .facebook {
  background-position: -10px 28px;
}

header .navbar .social-links .instagram {
  background-position: -60px -51px;
}

header .show + a + .nav-right-block button {
  background-position: -6px -52px;
}

header .nav-right-block {
  margin-top: 20px;
}

header .nav-right-block button {
  position: relative;
  z-index: 100;
  display: inline-block;
  width: 31px;
  height: 23px;
  background-image: url(../img/css_sprites.png);
  background-position: -10px -10px;
  margin-left: 35px;
  padding: 0;
}

header .nav-right-block div {
  display: inline-block;
  width: 20px;
  height: 23px;
  background-image: url(../img/css_sprites.png);
}

header .nav-right-block .surch {
  background-position: -45px 30px;
}

header .nav-right-block .like {
  background-position: 30px -7px;
  margin: 0 19px;
}

header .nav-right-block .basket {
  background-position: -60px -10px;
}

header .navbar-top {
  margin-top: 25px;
}

header .navbar-top li {
  display: inline-block;
  margin: 0 15px;
}

.wrapper .baner-carousel.mobile-block {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper .baner-carousel.mobile-block .first-carousel {
  position: relative;
}

.wrapper .baner-carousel.mobile-block .first-carousel .owl-dots {
  margin-top: 17px;
  text-align: center;
}

.wrapper .baner-carousel.mobile-block .first-carousel .owl-dots button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #adafb3;
  margin-right: 7px;
}

.wrapper .baner-carousel.mobile-block .first-carousel .owl-dots .active {
  background-color: #636363;
}

.wrapper .baner-carousel.mobile-block .first-carousel div[class|="baner"] {
  margin-top: 44px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper .baner-carousel.mobile-block .first-carousel div[class|="baner"] .hidden {
  display: block;
  height: 233px;
  margin-bottom: 19px;
}

.wrapper .baner-carousel.mobile-block .first-carousel div[class|="baner"] .hidden p {
  position: absolute;
  left: 20px;
  top: 40px;
  font-size: 20px;
}

.wrapper .baner-carousel.mobile-block .first-carousel div[class|="baner"] .button {
  display: block;
  margin: 0 auto;
}

.wrapper .baner-carousel.mobile-block .first-carousel div[class|="baner"] .button p {
  padding-top: 14px;
  font-size: 16px;
}

.baner-first::before, .tablet-baner-one::before {
  content: "";
  background-image: url(../img/new.png);
  background-size: contain;
  position: absolute;
  left: 10px;
  top: -35px;
  width: 69px;
  height: 69px;
}

.baner-second::before, .tablet-baner-two::before {
  content: "";
  background-image: url(../img/sale.png);
  background-size: contain;
  position: absolute;
  right: 10px;
  top: -35px;
  width: 64px;
  height: 64px;
}

.wrapper .tablet-baner {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.wrapper .tablet-baner div[class|="tablet-baner"] {
  background-size: 100% 100%;
  height: 320px;
}

@media (min-width: 992px) {
  .wrapper .tablet-baner div[class|="tablet-baner"] {
    height: 470px;
  }
}

.wrapper .tablet-baner .tablet-baner-one {
  background: url(../img/poster-1.png);
}

.wrapper .tablet-baner .tablet-baner-two {
  background: url(../img/poster-2.png);
}

.wrapper .tablet-baner div[class|="tablet-baner"] p {
  position: absolute;
}

.wrapper .tablet-baner div[class|="tablet-baner"] .button {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 200px;
  height: 40px;
}

.wrapper .tablet-baner div[class|="tablet-baner"] .button p {
  position: static;
  margin: 15px 0;
}

.wrapper .tablet-baner .tablet-baner-one p {
  left: 10px;
  top: 30px;
}

.wrapper .tablet-baner .tablet-baner-two p {
  right: 32px;
  bottom: 123px;
}

.baner {
  margin-bottom: 50px;
}

.print-block {
  text-align: center;
  position: relative;
  margin-bottom: 54px;
}

.print-block h2 {
  margin: 0 0 27px;
}

.print-block img {
  margin-bottom: 19px;
}

.print-block p {
  font-size: 16px;
  color: #adafb3;
  margin-bottom: 28px;
  text-align: left;
}

.print-block .button {
  background: #ff005d;
  color: #ffffff;
  display: inline-block;
}

.print-block .button p {
  color: #ffffff;
  margin-top: 13px;
  text-align: center;
}

.catalog-block {
  margin-bottom: 70px;
}

.catalog-block .slogan {
  text-align: center;
  font-size: 30px;
  margin-bottom: 35px;
}

.catalog-block .catalog-card {
  position: relative;
  padding: 0 61px;
  font-weight: 500;
  text-transform: uppercase;
  color: #636363;
}

.catalog-block .catalog-card img {
  margin-bottom: 18px;
  -webkit-box-shadow: 0 4px 11px 0 gray;
          box-shadow: 0 4px 11px 0 gray;
}

.catalog-block .catalog-card p {
  line-height: 1.5rem;
}

.catalog-block .catalog-card:before {
  content: "";
  background-size: contain;
  position: absolute;
  left: 30px;
  top: 0;
  width: 69px;
  height: 69px;
}

.catalog-block .button p {
  margin-top: 14px;
}

.catalog-block .catalog-card.card-1:before {
  background-image: url(../img/top.png);
}

.catalog-block .catalog-card.card-2:before {
  background-image: none;
}

.catalog-block .second-carousel {
  margin-bottom: 26px;
}

.catalog-block .second-carousel .owl-nav button {
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  background: #ebebeb;
}

.catalog-block .second-carousel .owl-nav button::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 3px solid #888888;
  border-bottom: 3px solid #888888;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 10px;
  top: 10px;
}

.catalog-block .second-carousel .owl-nav .owl-prev {
  left: 15px;
  top: 50%;
}

.catalog-block .second-carousel .owl-nav .owl-prev::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.catalog-block .second-carousel .owl-nav .owl-next {
  right: 15px;
  top: 50%;
}

.catalog-block .second-carousel .owl-nav .owl-next::before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.tablet-cotalog {
  padding: 0;
}

.tablet-cotalog img {
  -webkit-box-shadow: 0 0 0 0 #ffffff;
          box-shadow: 0 0 0 0 #ffffff;
}

.tablet-cotalog:before {
  left: 10px;
  top: -30px;
}

.form-block {
  margin-bottom: 55px;
}

.form-block h3 {
  font-size: 18px;
  margin-bottom: 28px;
}

.form-block img {
  margin-bottom: 32px;
}

.form-block form input {
  margin-bottom: 18px;
  border-radius: 100px;
  border: 1px solid gray;
  height: 40px;
  padding-left: 19px;
  opacity: 0.6;
}

.form-block form input[type="submit"] {
  background: #ff005d;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

footer .slogan {
  text-transform: none;
  font-size: 30px;
  margin-bottom: 15px;
}

footer .links-block {
  text-transform: uppercase;
  text-align: center;
}

footer .links-block a, footer .links-block p {
  display: block;
  margin-bottom: 15px;
}

footer .links-block p {
  color: #adafb3;
}

footer .links-block .social a {
  display: inline-block;
}

@media (min-width: 767.98px) {
  header {
    margin-bottom: 40px;
  }
  .baner {
    margin-bottom: 106px;
  }
  .print-block {
    margin-bottom: 106px;
  }
  .wrapper .slogan p {
    margin: 46px 0;
  }
  .wrapper .tablet-baner div[class|="tablet-baner"]::before {
    top: -25px;
  }
  .wrapper .tablet-baner .tablet-baner-one::before {
    width: 50px;
    height: 50px;
  }
  .wrapper .tablet-baner .tablet-baner-two {
    text-align: end;
  }
  .wrapper .tablet-baner .tablet-baner-two ::before {
    width: 45px;
    height: 45px;
  }
  .wrapper .print-block {
    text-align: left;
  }
  .wrapper .print-block .button {
    width: 200px;
  }
  .wrapper .catalog-block .catalog-way {
    padding-top: 4rem;
  }
  .wrapper .catalog-block .catalog-way .slogan {
    padding-bottom: 2rem;
  }
  .wrapper .catalog-block .catalog-way .button {
    width: 200px;
  }
  .wrapper .catalog-block .catalog-way .button p {
    padding-top: 14px;
  }
  .wrapper .catalog-block .catalog-card {
    text-align: center;
    padding: 0;
  }
  .wrapper .catalog-block .catalog-card img {
    margin-bottom: 16px;
  }
  .wrapper .catalog-block .catalog-card p {
    line-height: 1.5rem;
    text-align: left;
  }
  footer .help {
    text-align: left;
  }
  footer .currency {
    text-align: right;
  }
  footer .social {
    text-align: center;
  }
  footer .tablet {
    text-transform: uppercase;
    color: #adafb3;
  }
}

@media (min-width: 991.98px) {
  header {
    margin-bottom: 45px;
  }
  .wrapper .slogan p {
    font-size: 55px;
  }
  .wrapper .tablet-baner {
    font-size: 24px;
  }
  .wrapper .tablet-baner div[class|="tablet-baner"]::before {
    top: -25px;
  }
  .wrapper .tablet-baner div[class|="tablet-baner"] .button p {
    margin: 15px 0;
    font-size: 16px;
  }
  .wrapper .tablet-baner .tablet-baner-one p {
    left: 10px;
    top: 40px;
  }
  .wrapper .tablet-baner .tablet-baner-two p {
    right: 45px;
    bottom: 165px;
  }
  .wrapper .tablet-baner .tablet-baner-one::before {
    width: 69px;
    height: 69px;
  }
  .wrapper .tablet-baner .tablet-baner-two::before {
    width: 64px;
    height: 64px;
  }
  .wrapper .print-block .content {
    margin: 4rem 0 0;
  }
  .wrapper .print-block .button {
    position: absolute;
    left: 3rem;
    bottom: 1rem;
  }
  .wrapper .catalog-block .catalog-way {
    padding-top: 7rem;
  }
  .wrapper .catalog-block .catalog-way .slogan {
    font-size: 54px;
  }
  .wrapper .form-block h3 {
    font-size: 24px;
  }
}

@media (min-width: 1199.98px) {
  .wrapper .tablet-baner .tablet-baner-one p {
    left: 10px;
    top: 45px;
  }
  .wrapper .tablet-baner .tablet-baner-two p {
    right: 55px;
    bottom: 200px;
  }
  .wrapper .print-block .content {
    margin: 5rem 0 0;
  }
}
